@charset "utf-8";






.wrap {
    background-color: var(--black-color);
}

.splash {
    width: 100%;
    height: 100vh;
    background-color: var(--black-color);
    font-family: var(--Anton);
    font-weight: 400;
    text-transform: lowercase;
    font-size: 100px;
    position: fixed;
    overflow: hidden;
    z-index: 10000;
    left: 0;
    top: 0;
    /* opacity: 0; */
    cursor: none !important;
}

.splash .txt {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
/*     cursor: pointer; */

}

#particles {
    position: absolute;
    width: 100%;
    height: 100%;
    pointer-events: none;
    z-index: 8;
    left: 0;
    top: 0;
    /* filter: drop-shadow(0 0 6px rgba(0,200,255,0.6)); */
    filter: blur(1px) brightness(1.5);
}

.splash .txt h1 {
    position: relative;
    color: #fff;
    /*     background: radial-gradient(117.08% 101.11% at 101.11% 50%, #6F6F6F 0%, #FFF 48.36%, #999 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
   */
}

/* .splash .char {
    display: inline-block;
    color: transparent;
    background-image: radial-gradient(circle at center, white 30%, #666 80%);
    background-size: 200% 200%;
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    filter: brightness(1.1);
    opacity: 0;
    transition: opacity 0.3s ease;
    transition: background-position 0.2s ease;
} */


.splash .char {
    display: inline-block;
    font-weight: 300;
    font-size: 100px;
    background: radial-gradient(circle at center,
            #1a1a1a 0%,
            #444444 15%,
            #777777 40%,
            #aaaaaa 70%,
            #ffffff 100%);
    background-size: 800% 800%;
    background-position: center center;
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
      opacity: 0;
    transition: opacity 0.3s;
}

#brokenGlass {
    position: absolute;
    width: 100%;
    height: 100%;
    background-image: url('../img/12.png');
    /* 깨진 유리 텍스처 */
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    opacity: 0;
    pointer-events: none;
    z-index: 9;
    left: 0;
    top: 0;
    /* 텍스트 뒤, 파티클 위 */
}

/* .blackout {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: #000;
    z-index: 999;
    opacity: 0;
    pointer-events: none;
    transition: opacity 0.5s;
} */

.values {
    height: 100vh;
    background-image: url(../img/values_bg.jpg);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    /* clip-path: circle(0% at 50% 50%); */
    /* transform-origin: center; */
    overflow: hidden;
    /* 혹시 내부가 삐져나오는 경우 방지 */
    /* will-change: clip-path, transform; */
    position: relative;
    pointer-events: auto;
    z-index: 101;
}

.values::before {
    content: "";
    position: absolute;
    top: 38%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 1300px;
    height: 400px;
    background: radial-gradient(circle, rgba(255, 94, 0, 0.377), transparent 100%);
    filter: blur(60px);
    z-index: 1;
}

.values .txt_neon {
    position: relative;
    z-index: 1;

}

.values .txt_neon h1 {
    font-family: var(--Marquee);
    font-size: 140px;
    text-transform: uppercase;
    text-align: center;
    line-height: 150px;
}

.values .txt_neon h1 {
    animation: jackpots 1s 0s ease infinite;
    -moz-animation: jackpots 1s 0s ease infinite;
    /* Firefox */
    -webkit-animation: jackpots 1s 0s ease infinite;
    /* Safari and Chrome */
    -o-animation: jackpots 1s 0s ease infinite;
    /* Opera */
}

@keyframes jackpots {

    /* 🔦 깜빡 2번 */
    10%,
    30%,
    50% {
        text-shadow:
            -.1vw 0vw .1vw #705C12, -.15vw 0vw .2vw #705C12, -.2vw 0vw .2vw #705C12,
            -.1vw 0vw .1vw #5C0704, -.2vw 0vw .1vw #5C0704, -.4vw 0vw .1vw #5C0704,
            -.4vw 0vw .2vw #5C0704, .2vw 0vw .5vw #5C0704;
        color: #705C12;
    }

    /* 🔆 켜짐 상태 (시작 + 깜빡 사이 + 깜빡 이후) */
    0%,
    20%,
    40%,
    60%,
    100% {
        text-shadow:
            -.1vw 0vw .1vw #FED128, -.15vw 0vw .2vw #FED128, -.2vw 0vw .2vw #FED128,
            -.1vw 0vw 3vw #F0130B, -.2vw 0vw 3vw #F0130B, -.4vw 0vw 3vw #F0130B,
            -.4vw 0vw .8vw #F0130B, .2vw 0vw 10vw #F0130B;
        color: #FED128;
    }
}




@keyframes preDropShake {
    0% {
        transform: rotate(0deg);
    }

    20% {
        transform: rotate(-10deg);
    }

    50% {
        transform: rotate(-5deg);
    }

    80% {
        transform: rotate(-15deg);
    }

    100% {
        transform: rotate(-15deg) translateY(0px);
        /* 툭 떨어지듯이! */
    }
}

.loose {
    display: inline-block;
    transform-origin: top right;

}

.loose.on {
    animation: preDropShake 1.5s ease-in;
    animation-fill-mode: forwards;
}


.values a#btn {
    color: #fff;
    border: 2px solid;
    border-radius: 3px;
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: sans-serif;
    font-size: 20px;
    text-transform: uppercase;
    width: 250px;
    height: 65px;
    padding: 5px 10px;
    font-weight: 600;
    background: rgba(0, 0, 0, 0.2);
    box-shadow: 0 0 0px 3px rgba(0, 0, 0, 0.2);
    opacity: 0.4;
    /* backface-visibility: hidden;
    transform-style: preserve-3d;
    transform: translateZ(0); 
    position: relative;
    z-index: 10; */

}

.values a#btn:hover {
    color: var(--white-color);
    opacity: 1;
}







/* body {
    background: #0f0f0f;
    color: white;

} */


.pagination {
    position: fixed;
    left: 40px;
    bottom: 40px;
    display: flex;
    gap: 15px;
    z-index: 100;
    opacity: 0;
    pointer-events: none;
    transition: opacity 0.4s;
}

.pagination.visible {
    opacity: 1;
    pointer-events: auto;
}



.page-btn {
    background: none;
    border: none;
    padding: 0;
    width: 48px;
    height: 60px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    font-family: var(--pretend);
}


.page-num {
    position: relative;
    display: inline-block;
    font-size: 1.3rem;
    font-weight: bold;
    color: #eee;
    background: none;
    border: none;
    padding: 2px 12px;
    z-index: 1;
}

.circle-border {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    pointer-events: none;
    width: 40px;
    height: 40px;
    z-index: 0;
    overflow: visible;
}

.circle-border circle {
    stroke-dasharray: 113.097;
    stroke-dashoffset: 113.097;
    transform: rotate(-90deg);
    transform-origin: 50% 50%;
    filter: none;
}

.page-btn:hover .circle-border circle {
    stroke-dashoffset: 0;
}

.page-btn.glow .circle-border,
.page-btn.active .circle-border {
    filter: none;
    /* JS에서 동적으로 적용 */
}

.page-btn.active .circle-border circle {
    stroke-dashoffset: 0;
    /*  filter: drop-shadow(0 0 8px #ffcc00) drop-shadow(0 0 16px #ffcc00); */
}

.page-btn.active .page-num {
    color: #fff !important;
    /* 네온 효과 등 추가 가능 */
}

@keyframes drawCircle {
    0% {
        box-shadow: none;
        border-width: 0;
    }

    100% {
        box-shadow: none;
        border-width: 2px;
    }
}


@keyframes jump {
    0% {
        transform: translateY(0);
    }

    20% {
        transform: translateY(-28px);
    }

    40% {
        transform: translateY(0);
    }

    60% {
        transform: translateY(-18px);
    }

    80% {
        transform: translateY(-8px);
    }

    100% {
        transform: translateY(-8px);
    }
}

@keyframes jumpDown {
    0% {
        transform: translateY(-8px);
    }

    100% {
        transform: translateY(0);
    }
}

@keyframes scaleClick {
    0% {
        transform: scale(1);
    }

    50% {
        transform: scale(1.25);
    }

    100% {
        transform: scale(1);
    }
}



.container {
    display: flex;
    width: 600vw;
    height: 100vh;
    transition: transform 0.7s ease;
    position: relative;
    /* ✅ 추가 */
    z-index: 10;

    /* 원하는 컬러 배경 */
}
.container a{
    display: flex;
    align-items: center;
    justify-content: center;
}
.container_bg {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: url('../img/main_bg.png') center/cover no-repeat;
    opacity: 1;
    z-index: 10;
}

.project {
    width: 100vw;
    height: 100vh;
    padding: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
    transition: transform 0.6s ease, opacity 0.6s ease;
    transform: scale(0.9);
    opacity: 0.6;
}

.project-content {
    width: 85%;
    display: flex;
    gap: 70px;
    align-items: end;
}

.project-content img {
    object-fit: cover;
    width: 100%;
    height: 100%;
}

.top {
    display: flex;
    flex-direction: column;
    gap: 30px;
    margin-bottom: 25px;
}

.center {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 5px;
}

.center div {

    width: 100%;
    height: 1px;
    border-radius: 100%;
}

.project img {
    width: 900px;
    height: 600px;
    border-radius: 10px;
}

.text-box {
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.text-box h2 {
    /* font-size: 50px; */
    font-family: var(--Anton);
    font-size: 60px;
    /*     font-weight: 500; */
    letter-spacing: 1.5px;
}

.text-box .top p {
    font-size: 26px;
    line-height: 33px;
    font-weight: 200;
    color: #ffffff;
}

.text-box .top p span {
    font-weight: 600;
    font-size: 29px;
}

.text-box .center p {
    font-size: 23px;
    font-weight: 300;
    line-height: 27px;
}

.text-box .center span {
    font-size: 20px;
    font-weight: 300;
    line-height: 27px;
}

.text-box .bottom {
    display: flex;
    gap: 25px;
    ;
}

.text-box .bottom a {
    border-radius: 5px;
    font-family: var(--pretend);
    text-transform: uppercase;
    font-size: 17px;
    font-weight: 600;
}

.text-box  .bottom a{
    width: 220px;
    height: 50px;
    font-weight: bold;
    color: #fff;
    border: none;
    cursor: pointer;
}



/* 색상  */

.container .project:nth-child(1) .top h2 {
    color: #F8446A
}

.container .project:nth-child(1) .top span {
    color: #FF8BA3;
}

.container .project:nth-child(1) .center span {
    color: #85CFFC
}

.container .project:nth-child(1) .center div {
    background-color: #85CFFC
}

.container .project:nth-child(1) .center p {
    color: #D8D8D8;
}

.container .project:nth-child(1) .bottom .landing {
    color: #fff;
    background: #85CFFC;
    transition: .3s;
    /* background: #fff; */
}

.container .project:nth-child(1) .bottom .landing:hover {
    color: #85CFFC;
    background-color: #0f0f0f;
    border: none;
    border: 1px solid #fff;
}

.container .project:nth-child(1) .bottom .wep {
    color: #fff;
    background-color: #D0415F;
    transition: .3s;
}

.container .project:nth-child(1) .bottom .wep:hover {
    color: #D0415F;
    /*   border: 1px solid #fff; */
    background: #fff;
}



.container .project:nth-child(2) .top h2 {
    color: #E0A2ED
}

.container .project:nth-child(2) .top span {
    color: #E881FD
}

.container .project:nth-child(2) .center span {
    color: #E0A2ED
}

.container .project:nth-child(2) .center div {
    background-color: #E0A2ED
}

.container .project:nth-child(2) .center p {
    color: #D8D8D8;
}

.container .project:nth-child(2) .bottom .landing {
    color: #9E3DB3;
    transition: .3s;
    border: 1px solid #fff;
    background: #0f0f0f;
    /* background: #fff; */
}

.container .project:nth-child(2) .bottom .landing:hover {
    color: #fff;
    background-color: #9E3DB3;
    border: none;
}

.container .project:nth-child(2) .bottom .wep {
    color: #fff;
    background-color: #9E3DB3;
    transition: .3s;
}

.container .project:nth-child(2) .bottom .wep:hover {
    color: #9E3DB3;
    /*   border: 1px solid #fff; */
    background: #fff;
}


.container .project:nth-child(3) .top h2 {
    color: #FFBA3B
}

.container .project:nth-child(3) .top span {
    color: #F0ED8C
}

.container .project:nth-child(3) .center span {
    color: #BEB791
}

.container .project:nth-child(3) .center div {
    background: #BEB791
}

.container .project:nth-child(3) .center p {
    color: #D8D8D8;
}

.container .project:nth-child(3) .bottom .landing {
    color: #fff;
    transition: .3s;
    background-color: #FFBA3B;

    /* background: #fff; */
}

.container .project:nth-child(3) .bottom .landing:hover {
    color: #FFBA3B;
    border: 1px solid #fff;
    background: #0f0f0f;
}

.container .project:nth-child(3) .bottom .wep {
    color: #fff;
    background-color: #A8C475;
    transition: .3s;
}

.container .project:nth-child(3) .bottom .wep:hover {
    color: #A8C475;
    /*   border: 1px solid #fff; */
    background: #fff;
}

.container .project:nth-child(4) .top h2 {
    color: #F4A95E;
}

.container .project:nth-child(4) .top span {
    color: #FF9B28;
}

.container .project:nth-child(4) .center span {
    color: #F4A95E;
}

.container .project:nth-child(4) .center div {
    background-color: #F4A95E;
}

.container .project:nth-child(4) .center p {
    color: #D8D8D8;
}

.container .project:nth-child(4) .bottom .landing {
    color: #fff;
    transition: .3s;
    background: #F4A95E;
}

.container .project:nth-child(4) .bottom .landing:hover {
    color: #F4A95E;
    border: 1px solid #fff;
    /*     border: none; */
    background: #0f0f0f;
}

.container .project:nth-child(4) .bottom .wep {
    color: #fff;
    background-color: #FF7F00;
    transition: .3s;
}

.container .project:nth-child(4) .bottom .wep:hover {
    color: #FF7F00;
    background-color: #fff;

}

.container .project:nth-child(5) .top h2 {
    color: #ACCBB0;
}

.container .project:nth-child(5) .top span {
    color: #6A8E6F;
}

.container .project:nth-child(5) .center span {
    color: #6A8E6F;
}

.container .project:nth-child(5) .center div {
    background-color: #6A8E6F;
}

.container .project:nth-child(5) .center p {
    color: #D8D8D8;
}

.container .project:nth-child(5) .bottom .wep {
    color: #fff;
    /*  border: 2px solid #fff; */
    transition: .3s;
    background: #6A8E6F;
}

.container .project:nth-child(5) .bottom .wep:hover {
    color: #6A8E6F;
    background-color: #fff;
    border: none;
}