@charset "utf-8";
@font-face {
    font-family: 'Suit';
    src: url('AnyConv.com__SUIT-ExtraLight.woff') 
    format('woff');
    font-weight: 200;
    font-style: normal;
}
@font-face {
    font-family: 'Suit';
    src: url('AnyConv.com__SUIT-Medium.woff') 
    format('woff');
    font-weight: 500;
    font-style: normal;
}
/*  */
@font-face {
    font-family: 'CookieRun';
    src: url('AnyConv.com__CookieRun\ Regular.woff') 
    format('woff');
    font-weight: 700;
    font-style: normal;
}
/*  */
@font-face {
    font-family: 'GmarketSans';
    src: url('AnyConv.com__GmarketSansTTFMedium.woff') 
    format('woff');
    font-weight: 500;
    font-style: normal;
}
/*  */
@font-face {
    font-family: 'Cafe24Dangdanghae';
    src: url('AnyConv.com__Cafe24Dangdanghae-v2.0.woff') 
    format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Tenada';
    src: url('AnyConv.com__Tenada.woff') 
    format('woff');
    font-weight: normal;
    font-style: normal;
}
