@charset "utf-8";
@import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.9/dist/web/variable/pretendardvariable-dynamic-subset.min.css");
@import url(../font/font.css);
@import url('https://fonts.googleapis.com/css2?family=Nanum+Pen+Script&family=Noto+Serif+HK:wght@200..900&family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Racing+Sans+One&family=Taviraj:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');




* {
    box-sizing: border-box;
}


:root {
    --main-color: #482765;
    --font-bora: #402359;
    --main-w: #ffffff;
    --main-bgW: #FAFAFA;
    --main-bgD: #F4F0E7;
    --point-yellow: #E9C254;
    --point-greenD: #71774A;
    --point-greenW: #888A4A;
    --point-orange: #E58600;
    --point-gray: #F4F4F4;
    --point-red: #9C0000;
    --point-bo: #a496aa;
    --font-3: #333;
    --font-0: #0f0f0f;
    --font-5: #555;
    --font-y: #E9C46A;
    --font-gr: #A7A967;
    --font-ww: #F4F0E7;
    --Suit: 'Suit';
    --Cafe: 'Cafe24Dangdanghae';
    --Cookie: 'CookieRun';
    --Gmarket: 'GmarketSans';
    --point-font: "Nanum Pen Script", cursive;
    --pretend: "Pretendard Variable", Pretendard, -apple-system, BlinkMacSystemFont, system-ui, Roboto, "Helvetica Neue", "Segoe UI", "Apple SD Gothic Neo", "Noto Sans KR", "Malgun Gothic", "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", sans-serif;
    --main_visual-font: "Noto Serif HK", serif;
    --Playfair: "Playfair Display", serif;
    --Racing: "Racing Sans One", sans-serif;
    --Taviraj: "Taviraj", serif;
    --Tenda: 'Tenada';

}

body {
    width: 100%;
        color: var(--font-0);
    font-family: var(--pretend);
}

.inner {
    width: 1520px;
    margin: 0 auto;
}

/* header */

header {
    width: 100%;
    height: 100px;
    background-color: var(--main-color);
    font-family: var(--Suit);
    position: fixed;
    z-index: 999;
}




header .inner {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    text-transform: uppercase;
}

/* 태블릿 */

header .Tablet_nav {
    width: 100%;
    height: 100%;
    background-color: #FDFDFD;
    position: fixed;
    right: -100%;
    top: 120px;
    transition: .6s;
    padding-left: 50px;
    gap: 50px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

}

header.on .Tablet_nav {
    right: 0;
    text-transform: uppercase;
    font-family: var(--Suit);
    color: var(--main-color);
    padding-top: 50px;
}

header .Tablet_nav ul.gnb {
    display: flex;
    flex-direction: column;
    height: 114px;
    gap: 50px;
 
}

header .Tablet_nav ul.gnb>li {
    border-bottom: .5px solid #e2e2e2;
    display: flex;
    padding-bottom: 40px;
}

/* header .Tablet_nav ul.gnb>li:last-child {
    border-bottom: 0;
} */

header .Tablet_nav ul.gnb>li>a {
    width: 260px;
    font-size: 22px;
    font-weight: 500;
    cursor: pointer;
    display: flex;
    margin-right: 60px;
    border-right: 1px solid #e2e2e2;
}

header .Tablet_nav ul.gnb>li>a span {
    display: flex;
    align-items: center;
    gap: 20px;
    display: block;
    width: 100%;
}

header .Tablet_nav ul.gnb>li>a button {
    border: 0;
    background: transparent;
    cursor: pointer;
    display: none;
}

header .Tablet_nav ul.gnb>li>ul.sub {
    font-size: 19px;
    font-weight: 300;
    display: flex;
    width: auto;
    flex-wrap: wrap;
    flex-direction: column;
    height: 64px;
    gap: 12px;
}

header .Tablet_nav .gnb ul.sub li {
    height: 26px;
    cursor: pointer;
    width: 280px;
}

/* 태블릿 로그인 */

header .Tablet_nav .bottom_txt {
    margin-bottom: 100px;
    display: none;
}

header .Tablet_nav .bottom_txt>ul {
    display: flex;
    width: 100%;
    /* padding-left: 30px */
    font-size: 14px;
    font-weight: 400;
    align-items: center;

}

header .Tablet_nav .bottom_txt>ul li {
    border-right: .5px solid var(--font-bora);
    padding: 0 10px;
    text-align: center;
    line-height: 1;}

header .Tablet_nav .bottom_txt>ul li:last-child {
    border-right: 0;
}

/*  테브릿 서브바 버튼 */

header .h_right {
    display: none;
}

header .h_right button {
    border: 0;
    background: transparent;
    font-size: 27px;
    cursor: pointer;
    display: none;
    color: var(--main-w);
    /* width: 40px;
    height: 40px; */
    position: relative;
    transition: .6s;
    cursor: pointer;
    border-radius: 50%;
}

header .h_right button.xbtn {
    font-size: 33px;
    font-weight: 300;
}

header .inner .h_right button.on {
    display: block;
}

/* 헤더 */
header h1 {
    width: 100px;
    height: 100%;
    display: flex;
    align-items: center;
}

header.on h1 {
    display: none;
}

header nav {
    display: flex;
    width: 915px;
    height: 100%;
    align-items: center;
    justify-content: space-between;
    font-family: var(--Suit);
    cursor: pointer;
}

/* 
 header nav .nav_bg{
    width: 100%; height: 180px;
    background-color:  rgba(64, 35, 89, 0.60);
    position: absolute; left: 0; top: 100px;
     display: none;
     z-index:99 ;
 } */


header nav ul.gnb {
    display: flex;
    width: 100%;
    height: 100%;
    text-align: center;
}

header nav ul.gnb>li {
    flex: 1;
    position: relative;
}

header nav ul.gnb>li::after {
    content: '';
    background: var(--point-yellow);
    width: 100%;
    height: 4px;
    display: block;
    position: absolute;
    left: 0;
    top: 96px;
    transition: .6s;
    transform: scale(0);
    z-index: 9999;
}

header nav ul.gnb>li:hover:after {
    transform: scale(1);
}

header nav ul.gnb>li>a {
    width: 100%;
    height: 100%;
    display: block;
    line-height: 5;
    font-size: 20px;
    font-weight: 400;
    transition: .6s;
}

header nav ul.gnb>li:hover>a {
    color: var(--point-yellow);
}

header nav ul.gnb>li ul.sub {
    width: 100%;
    position: absolute;
    left: 0;
    top: 100px;
    z-index: 9999;
    display: none;
}

/* header nav ul.gnb>li:hover ul.sub{
    display: block;
} */
header nav ul.gnb>li ul.sub>li {
    width: 100%;
    height: 60px;
    line-height: 60px;
    background-color: rgba(64, 35, 89, 0.60);
    font-size: 17px;
    letter-spacing: 1px;
    font-weight: 300;
}

header nav ul.gnb>li ul.sub>li:last-child {
    border-radius: 0 0 10px 10px;
}

header nav ul.gnb>li ul.sub>li:hover {
    color: var(--font-y);
}

header nav ul.gnb>li ul.sub>li:hover a {
    scale: 1.1;
}

header nav ul.gnb>li ul.sub>li a {
    display: block;
    transition: .6s;
}

header .h_mini {
    display: flex;
    gap: 25px;
}

header.on .h_mini {
    margin-left: auto;
}

header ul.side_bar {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 25px;
}

header.on ul.side_bar {
    display: none;
}

header ul.side_bar>li {
    font-size: 17px;
    font-weight: 200;
}

header ul.side_bar>li:nth-child(4) {
    font-size: 20px;
}

header ul.side_bar>li:nth-child(5) {
    font-size: 19px;
}

header ul.side_bar>li:hover>a {
    color: var(--font-y);
}