@charset "utf-8";
@media screen and (max-width : 1520px) {
    .inner {
        width: 90%;
    }

    header .inner {
        width: calc(100% - 50px);
    }

    .main_visual {
        width: 100%;
        height: 708px;
    }

    .main_visual .main1 {
        background-image: url(../img/main_1540px.jpg);
    }

    .main_visual .main1 .inner h2 {
        display: flex;
        flex-direction: column;
    }

    .main_visual li.main1 .inner h2 strong.sw {
        font-size: 70px;
        /* top: 30px;
        left: 80px; */
        margin-left: 60px;
    }

    .main_visual li.main1 .inner h2 strong.be {
        font-size: 85px;
        /* left: 65px;
        bottom: 100px; */
        margin-left: 50px;
        padding-bottom: 60px;

    }

    .main_visual li.main1 .inner h2 strong.ff {
        font-size: 95px;
    }

    .main_visual li.main1 .inner h2 span {
        font-size: 45px;
        right: 255px;
        top: 54px;
    }

    .main_visual li.main2 .inner .txt {
        /* left: 45px; */
    }

    .main_visual li.main2 .inner p {
        font-size: 80px;
    }

    .main_visual li.main2 .inner h2 {
        font-size: 80px;
    }

    .main_visual li.main2 .inner .main_btn {
        width: 200px;
        height: 45px;
        font-size: 20px;
        line-height: 1;
    }

}

@media screen and (max-width : 1280px) {
    .inner {
        width: 95%;
    }

    header {
        height: 120px;
    }

    header .inner {
        width: 90%;
    }

    header nav {
        display: none;
    }

    header h1 {
        height: 80%;
    }

    header h1 img {
        height: 100%;
    }

    header .h_right {
        display: block;

    }

    header .h_right .xbtn {
        color: var(--font-y);
    }

    header ul.side_bar>li {
        font-size: 23px;
        font-weight: 300;
    }

    header ul.side_bar>li:nth-child(4) {
        font-size: 24px;
    }

    header ul.side_bar>li:last-child {
        font-size: 23px;
    }

    .main_visual li.main1 .inner h2 strong.sw {
        font-size: 68px;
        top: 35px;
        left: 10px;
    }

    .main_visual li.main1 .inner h2 span {
        right: 210px;
        top: 67px;
    }

    .main_visual li.main1 .inner h2 strong.be {
        font-size: 75px;
        top: 90px;
    }

    .main_visual li.main1 .inner h2 strong.ff {
        font-size: 80px;
    }

    .main_visual li.main2 .inner .txt {
        left: 100px;
    }

    .main_visual li.main2 .inner p {
        font-size: 70px;
    }

    .main_visual li.main2 .inner h2 {
        font-size: 80px;
    }

    .main_visual li.main2 .inner .main_btn {
        width: 200px;
        height: 45px;
        font-size: 20px;
        line-height: 1;
    }

    .main_visual .side_icon {
        right: -60px;
    }

    .product .inner .big_txt h2 {
        font-size: 90px;
    }

    .product .inner .big_txt h2 strong {
        font-size: 80px;
        right: -60px;
    }

    .product .inner {
        width: 98%;
    }

    .product .inner .go {
        height: 60px;
        margin-right: 0;
    }

    .product .inner .go a {
        width: 330px;
        height: 100%;
    }

    .product ul.card {
        width: 100%;
        height: 500px;
    }

    .product ul.card li {
        width: 25%
    }

    .product ul.card li:hover {
        box-shadow: none;
    }

    .product ul.card li a {
        width: 100%;
        height: 100%;
    }

    .product ul.card li a .img_box {
        width: 100%;
        height: 300px;
    }

    .product ul.card li a img {
        width: 100%;
        height: 100%;
    }

    .product ul.card li a i {
        font-size: 42px;
    }

    .product ul.card li a .txt .top_txt span {
        font-size: 22px;
    }

    .product ul.card li a .txt .top_txt p {
        font-size: 25px;
        font-weight: 400;
    }

    .product ul.card li a .under_txt>span {
        font-size: 29px;
    }

    .product ul.card li a .under_txt p {
        font-size: 40px;
    }






    .banner .txt_img1 {
        background: url(../img/banner_1280px.jpg) no-repeat center/cover;

    }

    .banner .txt_img2 {
        background: url(../img/banner_2_1280px.jpg);
    }

    .banner .txt_img2 .inner img.left {
        width: 150px;
        right: 650px;
    }

    .banner .txt_img2 .inner img.right {
        width: 200px;
        height: 250px;
    }

    .banner .txt_img2 .inner .txt {
        right: 25px;
    }

    .banner .txt_img2 .inner .txt h3 {
        font-size: 65px;
    }

    .banner .txt_img2 .inner .txt h4 {
        font-size: 65px;
    }

    .banner .txt_img2 .inner .txt p {
        font-size: 22px;
    }

    .review .inner {
        width: 90%;
    }

    .review .inner .sticky {
        width: 35%;
        gap: 20px;
        padding-top: 100px;
    }

    .review .inner .sticky h3 {
        font-size: 65px;
    }

    .review .inner .sticky h3:first-child {
        font-size: 62px;
    }

    .review .inner .sticky .btn {
        width: 388px;
    }

    .review .inner .sticky .btn p {
        font-size: 25px;
        font-weight: 300;
    }

    .review .inner .sticky .btn:hover {
        animation: none;
    }

    .review .inner .sticky .btn i {
        font-size: 28px;
    }

    .review .inner .right ul {
        gap: 30px;
    }

    .review .inner .right {
        width: 55%;
    }

    .review .right .top_txt i {
        font-size: 17px;
    }

    .review .right .top_txt span {
        font-size: 14px;
    }

    .review .inner .right ul li {

        width: 78%;
        height: auto;
    }

    .review .right img {
        width: 100%;
    }

    .review .right .top_txt .star {
        padding-right: 20px;
    }

    .review .right .top_txt span {
        font-weight: 500;
        font-size: 19px;
    }

    .review .right .bottom_txt h4 {
        font-size: 35px;
    }

    .review .right .bottom_txt p {
        font-size: 24px;
        line-height: 28px;
    }

    .review .right .bottom_txt {
        padding-top: 20px;
    }

    .menu {
        background-image: url(../img/menu_1280px.jpg);
        gap: 20px;
        height: 1000px;
        padding: 60px 0 40px 0;
    }

    .menu .big_txt {
        height: 200px;
        padding-top: 40px;
    }

    .menu .big_txt h2 {
        align-items: flex-end;
        height: 150px;
    }

    .menu .big_txt h2 strong {
        left: 40px;
        top: 35px;
    }

    .menu .rt_lt {
        padding-top: 80px;
    }

    .menu .left {
        width: 500px;
    }

    .menu .left .sub ul {
        padding-top: 130px;
        align-items: center;
    }

    .menu .left .sub li span {
        font-size: 40px;
    }

    .menu .left .sub li.on span {
        font-size: 43px;
        width: auto;
    }

    .menu .right {
        min-width: 680px;
        padding-top: 20px;
    }

    .menu .right ul.right_con>li {
        right: 0;
        width: 100%;
    }

    .menu .right ul.right_con>li ul.swiper-wrapper {
        min-width: 680px;
    }

    .menu .right ul.right_con>li .swiper-slide {
        width: 200px;
        height: 200px;
    }

    .menu .right ul.right_con>li .swiper-slide-active {
        width: 330px;
        height: 410px;
    }

    .swiper-pagination-wrap {
        width: 400px;
        height: 60px;
        left: -32px;
    }

    .swiper-pagination-wrap span {
        font-size: 22px;
        font-weight: 500;
        color: var(--font-ww);
    }

    .swiper-button-next::after,
    .swiper-button-prev::after {
        font-size: 28px;
        line-height: 1.8;
    }

    .sns {
        height: 840px;
    }

    .sns ul li:last-child {
        display: none;
    }

    /* .sns ul li a img {
       
    } */


    .sns ul li:nth-child(1) {
        background-image: url(../img/sns1.jpg);
    }

    .sns ul li:nth-child(2) {
        background-image: url(../img/sns5.jpg);

    }

    .sns ul li:nth-child(3) {
        background-image: url(../img/sns3.jpg);

    }

    .sns ul li:nth-child(4) {
        background-image: url(../img/sns4.jpg);

    }

    footer .top_txt h1 {
        display: none;
    }

}

@media screen and (max-width : 430px) {
    .wrap {
        overflow: hidden;
    }

    .inner {
        width: 100%;

    }

    header .inner {
        width: 100%;
        padding: 0 10px;
    }

    header {
        height: 70px;

    }

    header ul.side_bar {
        display: none;
    }

    header .Tablet_nav {
        top: 71px;
        width: 100%;
        height: 100%;
        padding: 50px 34px 0 34px;


    }

    header.on .Tablet_nav {
        right: -40%;
        width: 100%;
        padding-left: 20px;
        box-shadow: -4px 0px 10px 0px rgba(0, 0, 0, 0.25);
    }

    header .Tablet_nav ul.gnb {
        flex-direction: column;
        height: 65px;
        width: 220px;
    }

    header .Tablet_nav ul.gnb>li {
        width: 100%;
        padding-bottom: 20px;
        flex-direction: column;
        position: relative;

    }

    header .Tablet_nav ul.gnb>li>a {
        align-items: center;
        border-right: 0;
        width: 100%;
        gap: 30px;
        margin-right: 0;



    }

    header .Tablet_nav ul.gnb>li>a button {
        display: block;
        font-size: 1rem;
        transition: .6s;
    }

    header .Tablet_nav ul.gnb>li>a button.rotated {
        transform: rotate(180deg);
    }

    header .Tablet_nav ul.gnb>li>a>span {
        font-size: 15px;
        font-weight: 600;

    }

    header .Tablet_nav ul.gnb>li>a>span.active {
        color: var(--font-y);
        font-weight: 550;
    }

    header .Tablet_nav ul.gnb>li>ul.sub {
        display: none;
        height: 100%;
        padding: 20px 0 20px 30px;
        font-size: 15px;
        font-weight: 400;
    }

    header .Tablet_nav ul.gnb>li>ul.sub>li {
        padding-top: 15px;
    }

    header .Tablet_nav .bottom_txt {
        display: block;
    }

    .main_visual .side_icon {
        right: 20px;
        align-items: flex-end;
        bottom: 40px;
    }

    .main_visual .side_icon a {
        display: none;
    }

    .main_visual .side_icon a.mobile {
        display: flex;
    }
}