@charset "utf-8";

@media screen and (max-width : 1520px) {
    .inner {
        width: 95%;
        margin: 0 auto;
    }

}

@media screen and (max-width : 1024px) {
    .inner {
        padding: 0 20px;
        width: 100%;
    }

    header nav {
        display: none;
    }

    header .h_right {
        display: block;

    }

    header .h_right .xbtn {
        color: var(--font-y);
    }

    header ul.side_bar>li {
        font-size: 23px;
        font-weight: 300;
    }

    header ul.side_bar>li:nth-child(4) {
        font-size: 24px;
    }

    header ul.side_bar>li:last-child {
        font-size: 23px;
    }

}