@charset "utf-8";


#character {
    top: 1100px;
    left: 700px;
    position: relative;
}

#character .txt {
    position: absolute;
    left: 50%;
    top: 100px;
    border: 5px solid var(--bora);
    border-radius: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #000;
    transition: box-shadow 1.5s ease-in-out;
    width: 400px;
    height: 100px;
    font-size: 30px;
    transform: translateX(-50%);
}

#character .txt.glow {
    box-shadow: 2px 0px 10px 0px #640898, -2px 0px 20px 0px #640898 inset, 4px 0px 20px 0px #640898;
}

#character ul li {
    position: absolute;
    opacity: 1;
}

#character li .char-wrap {
    border-radius: 20px;
    padding: 25px 60px;
    text-align: center;
    opacity: 0;
    transform: translateY(30px) rotate(var(--angle));
    animation-fill-mode: both;
    /*     backface-visibility: hidden; */
    /* will-change: transform, opacity; */
    transform-style: flat;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;

    background: rgba(255, 255, 255, 0.05);
    backdrop-filter: blur(10px);
    border: 1px solid rgba(255, 255, 255, 0.2);
    box-shadow:
        0 4px 20px rgba(0, 0, 0, 0.35),
        /* 기본 그림자 */
        0 0 10px rgba(255, 255, 255, 0.05),
        /* 은은한 빛감 */
        inset 0 0 10px rgba(255, 255, 255, 0.05);
    /* 은은한 보라빛 */
    transition: box-shadow 0.4s ease;
    color: #fff;
}

#character li p {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 20px;
    font-weight: 400;
    gap: 20px;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

#character li p strong {
    font-family: var(--Druk);
    font-size: 22px;
    letter-spacing: 2px;

}

#character li.first {
    left: 280px;
    bottom: 120px;
    --angle: -2deg;
}

#character li.first strong {
    color: var(--char-pink);
    /* 각 카드 컬러값 적용 */
    text-shadow: 0 0 2px var(--char-pink);
}

#character li.two {
    right: 420px;
    top: 280px;
    --angle: 2deg;
}

#character li.two strong {
    color: var(--char-blue);
}

#character li.three {
    left: 260px;
    top: 300px;
    --angle: 8deg;
}

#character li.three strong {
    color: var(--char-orange);
}

#character li.four {
    left: 580px;
    top: 520px;
    --angle: -5deg;
}

#character li.four strong {
    color: var(--char-purple);
}

#character li.five {
    left: 880px;
    bottom: 120px;
    --angle: 9deg;
}

#character li.five strong {
    color: var(--char-yellow);
}

#character li.six {
    right: 220px;
    bottom: 250px;
    --angle: -5deg;
}

#character li.six strong {
    color: var(--char-mint);
}

/* reveal 상태 */
#character li.reveal .char-wrap {
    opacity: 1;
    animation: wobbleIn 0.6s ease-out forwards;
}

@keyframes wobbleIn {

    16.65% {
        transform: translateY(8px) rotate(var(--angle));
        opacity: 0;
    }

    33.3% {
        transform: translateY(-6px) rotate(var(--angle));
    }

    49.95% {
        transform: translateY(4px) rotate(var(--angle));
    }

    66.6% {
        transform: translateY(-2px) rotate(var(--angle));
    }

    83.25% {
        transform: translateY(1px) rotate(var(--angle));
    }

    100% {
        transform: translateY(0) rotate(var(--angle));
        opacity: 1;
    }
}





#hobby {
    top: 150px;
    left: 2000px;
    position: relative;
    display: flex;
    padding: 0 50px 20px 50px;
}

#hobby>.txt {
    position: absolute;
    left: 40%;
    top: 50px;
    border: 5px solid var(--red);
    border-radius: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #000;
    transition: box-shadow 1.5s ease-in-out;
    width: 400px;
    height: 100px;
    font-size: 30px;
}

#hobby>.txt.glow {

    box-shadow: 2px 0px 10px 0px #E15231, -2px 0px 20px 0px #E15231 inset, 4px 0px 20px 0px #B3332E;
}

#hobby .go_trip,
#hobby .re_movie {
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.5s ease, visibility 0.5s ease;
}

#hobby.active .go_trip,
#hobby.active .re_movie {
    opacity: 1;
    visibility: visible;
}


/* go trip */
#hobby .go_trip {
    width: 50%;
    height: 100%;
    left: 0;
    top: 0;
    position: relative;

}

#hobby .go_trip .txt {
    width: 200px;
    height: 60px;
    font-size: 16px;
    position: absolute;
    left: 550px;
    top: 210px;
    background: var(--right-black);
    border: 3.5px solid var(--red);
    border-radius: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow:
        0 0 8px #a50f49,
        0 0 8px #a50f49 inset,
        0 0 10px #6b0c34;
    border: 3.5px solid #a50f49;
    letter-spacing: 2px;
}

#hobby .go_trip .one {
    width: 400px;
    position: absolute;
    left: 220px;
    top: 250px;
}

@keyframes collageFloat {
    0% {
        transform: translate(0px, 0px) rotate(0deg);
    }

    25% {
        transform: translate(2px, -3px) rotate(-1deg);
    }

    50% {
        transform: translate(-3px, 2px) rotate(1.5deg);
    }

    75% {
        transform: translate(1px, -2px) rotate(-1deg);
    }

    100% {
        transform: translate(0px, 0px) rotate(0deg);
    }
}


#hobby .go_trip .two {
    width: 380px;
    position: absolute;
    left: 60px;
    bottom: 30px;
    /*     animation: collageFloat 5s ease-in-out infinite;*/
    transform-origin: center center;
}

#hobby .go_trip .three {
    width: 200px;
    position: absolute;
    left: 130px;
    bottom: 350px;
}

#hobby .go_trip .four {
    width: 300px;
    position: absolute;
    left: 450px;
    bottom: 0px;
}

#hobby .go_trip .five {
    width: 300px;
    position: absolute;
    left: 540px;
    top: 300px;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

@keyframes spins {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(-360deg);
    }
}

#hobby .go_trip .six {
    width: 100px;
    position: absolute;
    left: 260px;
    top: 150px;
    animation: spins 3s linear infinite;
}

#hobby .go_trip .seven {
    width: 180px;
    position: absolute;
    left: 300px;
    top: 120px;
    animation: spin 3s linear infinite;
}

#hobby .go_trip .eit {
    width: 380px;

    position: absolute;
    left: 650px;
    top: 260px;
    /*     animation: collageFloat 5s ease-in-out infinite;
    transform-origin: center center; */
}

#hobby .go_trip .na {
    width: 80px;
    position: absolute;
    left: 880px;
    top: 360px;
}







/* movie */
#hobby .re_movie {
    width: 50%;
    height: 100%;
    right: 0;
    top: 0;
    /* display: none; */
}

#hobby .re_movie .txt {
    width: 250px;
    height: 70px;
    font-size: 15px;
    position: absolute;
    right: 650px;
    top: 250px;
    background: var(--right-black);
    border: 3.5px solid var(--red);
    border-radius: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    box-shadow:
        0 0 8px #FF6B3B,
        0 0 8px #FF6B3B inset,
        0 0 10px #FF3300;
    border: 3.5px solid #FF6B3B;
    line-height: 1.3;
    letter-spacing: 1.5px;

}

#hobby .re_movie ul {
    width: 100%;
    height: 100%;
    position: relative;
    display: flex;
}

#hobby .re_movie ul li {
    position: absolute;
    flex: 1;
}

#hobby .re_movie ul .note {
    left: 0;
    top: 0;
}

#hobby .re_movie ul .note .sticker_txt {
    background-image: url(../mind.img/노트북_tit.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 90px;
    width: 210px;
    position: absolute;
    left: 180px;
    top: 470px;
    display: flex;
    align-items: center;
    justify-content: center;
}

#hobby .re_movie ul .note .sticker_txt p {
    text-align: left;
    line-height: 1.3;
    transform: rotate(8deg);
    font-size: 13px;
    font-family: var(--Druk);
    text-transform: uppercase;
    margin-bottom: 5px;
    color: #000;
}

#hobby .re_movie ul .note img.fir {
    width: 300px;
    position: absolute;
    left: 80px;
    top: 500px;

}

@keyframes danceWiggle {
    0% {
        transform: rotate(0deg) translate(0, 0) scale(1);
    }

    25% {
        transform: rotate(3deg) translate(3px, -2px) scale(1.03);
    }

    50% {
        transform: rotate(-2deg) translate(-3px, 1px) scale(1.01);
    }

    75% {
        transform: rotate(2deg) translate(2px, -1px) scale(1.04);
    }

    100% {
        transform: rotate(0deg) translate(0, 0) scale(1);
    }
}

#hobby .re_movie ul .note img.sec {
    width: 310px;
    position: absolute;
    left: 200px;
    top: 550px;
    animation: danceWiggle 1.2s steps(1, end) infinite;
}




#hobby .re_movie ul .conan {
    left: 0;
    top: 0;
}

#hobby .re_movie ul .conan .sticker_txt {
    background-image: url(../mind.img/conan_tit.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 60px;
    width: 160px;
    position: absolute;
    left: 500px;
    top: 550px;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1;
}

#hobby .re_movie ul .conan .sticker_txt p {
    text-align: left;
    line-height: 1.2;
    font-size: 14px;
    font-family: var(--Druk);
    text-transform: uppercase;
    margin-bottom: 5px;
    color: #000;
    margin-left: 30px;
}

#hobby .re_movie ul .conan img.f {
    position: absolute;
    left: 530px;
    top: 560px;
    width: 200px;
}

#hobby .re_movie ul .conan img.s {
    position: absolute;
    left: 590px;
    top: 20px;
    width: 200px;
    animation: spins 3s linear infinite;
}

#hobby .re_movie ul .conan img.e {
    position: absolute;
    left: 100px;
    top: 300px;
    width: 150px;
}

#hobby .re_movie ul .conan img.a {
    position: absolute;
    left: 50px;
    top: 360px;
    width: 90px;
    opacity: 0.2;
}


#hobby .re_movie ul .begin {
    right: 0;
    top: 0;
}

#hobby .re_movie ul .begin .sticker_txt {
    background-image: url(../mind.img/비긴어게인_tit.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 60px;
    width: 180px;
    position: absolute;
    right: 360px;
    top: 190px;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1;

}

#hobby .re_movie ul .begin .sticker_txt p {
    text-align: left;
    font-size: 14px;
    font-family: var(--Druk);
    text-transform: uppercase;
    margin-bottom: 5px;
    color: #000;
}

#hobby .re_movie ul .begin img.firs {
    position: absolute;
    width: 175px;
    right: 380px;
    top: 280px;
    z-index: 1;
}

#hobby .re_movie ul .begin img.seco {
    position: absolute;
    width: 250px;
    right: 190px;
    top: 210px;
}