 @charset "utf-8";

 html,
 body {
   overflow: hidden;
   width: 100%;
   height: 100%;
   background-color: var(--light-black);
   font-family: var(--pretend);
   color: #fff;
   cursor: none;
 }

 .view {
   width: 100vw;
   height: 100vh;
   overflow: hidden;
   position: relative;
   cursor: none;
 }

 .canvas {
   width: 2050px;
   height: 2050px;
   position: absolute;
   /* background: #BDBDBD; */
   /*    cursor: grab; */
   transition: transform 1s ease;
   pointer-events: auto;
 }


 /* 기본 상태는 전부 작게 */
 .section {
   width: 100%;
   height: 100vh;
   /* background: #B5ADAD; */
   position: absolute;
   display: flex;
   justify-content: center;
   align-items: center;
   font-size: 24px;
   font-weight: bold;
   transform: scale(0.3);
   pointer-events: auto;
   transition: transform 0.5s ease;
   z-index: 1;
   /* background: var(--light-black); */
 }

 /* 선택됐을 때만 크게 확대 */
 .section.active {
   transform: scale(1) !important;
   z-index: 10;
   opacity: 1;
   pointer-events: auto;
   background: var(--light-black);
 }

 .txt {
   font-family: var(--Druk);
   color: var(--white);
   font-size: 55px;
   text-transform: uppercase;
 }

 /* 메인 */
 #main {
   top: 1400px;
   left: 1400px;
   display: flex;
   align-items: center;
   justify-content: center;
 }


 #main .content {
   width: 1500px;
   height: 900px;
   border-radius: 146px;
   border: 3px solid var(--main);
   background: var(--light-black);
   display: flex;
   align-items: center;
   justify-content: space-between;
   padding: 0 100px;
   transition: box-shadow 1.5s ease-in-out;
 }

 #main .content.glow {
   box-shadow: -2.189px -2.189px 58.384px 0px #FF9B28 inset, 2.189px 2.189px 58.384px 0px rgba(255, 155, 40, 0.85);
 }

 #main .content .left {
   display: flex;
   flex-direction: column;
   height: 100%;
   align-items: center;
   justify-content: center;
   gap: 50px;
   width: 650px;

 }

 #main .content .left img {
   width: 320px;
   height: 500px;
 }

 #main .content .left .bot_txt {
   font-weight: 400;
   font-size: 27px;
   display: flex;
   flex-direction: column;
   justify-content: flex-start;
   gap: 20px;

 }

 #main .content .left .bot_txt p {
   font-size: 24px;
   line-height: 1.5;
 }

 #main .content .left .bot_txt span {
   font-weight: 800;
   color: var(--main)
 }





 #main .content .right ul {
   display: flex;
   flex-direction: column;
   gap: 80px;
   width: 500px;
 }

 #main .content .right h3 {
   font-weight: 700;
   font-size: 30px;
   font-family: var(--Druk);
   text-transform: uppercase;
   color: var(--main);
 }

 #main .content .right p {
   font-size: 29px;
   font-weight: 400;
   margin-left: 50px;
   margin-top: 10px;
 }



 .btn-group {
   position: fixed;
   top: 50px;
   right: -50px;
   /* left: 50%; */
   transform: translateX(-50%);
   display: flex;
   flex-direction: column;
   gap: 10px;
   z-index: 1000;
   width: auto;
 }

 .btn-group button,
 .btn-group a {
   margin: 6px 0;
   padding: 12px 15px;
   background-color: var(--light-black);
   color: white;
   cursor: pointer;
   border-radius: 17px;
   width: auto;
   font-family: var(--Orbitron);
   font-size: 15px;
   font-weight: 800;
   text-transform: uppercase;
   display: flex;
   align-items: center;
   justify-content: center;
 }



 .btn-group a {
   background-color: #FF9B28;
   border: 2px solid #ffac4e;
   transform: scale(1.1);
   transition: .6s;
 }

 .btn-group button.skill {
   border: 2px solid #EEBC1A;
   transition: .6s;
 }

 .btn-group button.on.skill {
   box-shadow: 0px 0px 15px 0px #EEBC1A, -2px 0px 15px 0px #EEBC1A inset, 4px 0px 15px;
   transform: scale(1.1);

 }

 .btn-group button.ex {
   border: 2px solid #4833FF;
   transition: .6s;


 }

 .btn-group button.on.ex {
   box-shadow: 0px 0px 15px 0px #4833FF, -2px 0px 15px 0px #4833FF inset, 4px 0px 15px 0px #4833FF;
   transform: scale(1.1);
 }

 .btn-group button.ch {
   border: 2px solid #5B3D6B;
   transition: .6s;


 }

 .btn-group button.on.ch {
   box-shadow: 0px 0px 15px 0px #640898, -2px 0px 15px 0px #640898 inset, 4px 0px 15px 0px #640898;
   transform: scale(1.1);
 }

 .btn-group button.ho {
   border: 2px solid #B3332E;
   transition: .6s;



 }

 .btn-group button.on.ho {
   box-shadow: 0px 0px 15px 0px #B3332E, -2px 0px 15px 0px #B3332E inset, 4px 0px 15px 0px #B3332E;
   transform: scale(1.1);
 }


 .btn-group button.all {
   border: 2px solid #3AFF8B;
   /* 밝은 초록색 */
   transition: .6s;
 }

 .btn-group button.on.all {
   box-shadow: 0px 0px 15px 0px #3AFF8B, -2px 0px 15px 0px #3AFF8B inset, 4px 0px 15px 0px #3AFF8B;
   transform: scale(1.1);
 }

 .btn-group button.ma {
   border: 2px solid #FFE066;
 }

 .btn-group button.on.ma {
   box-shadow: 0px 0px 15px 0px #FF9B28, -2px 0px 15px 0px #FF9B28 inset, 4px 0px 15px 0px #FF9B28;
   transform: scale(1.1);
 }


 .btn-group a.on {
   box-shadow: 0px 0px 15px 0px #FF9B28, -2px 0px 15px 0px #FF9B28 inset, 4px 0px 15px 0px #FF9B28;
   transform: scale(1.1);
 }

 svg {
   position: absolute;
   left: 50%;
   top: 50%;
   transform: translate(-50%, -50%);
   z-index: 0;
   width: 3000px;
   height: 3000px;
   pointer-events: none;
 }

 path {
   fill: none;
   stroke-width: 4;
   stroke-dasharray: 8 10;
   stroke-dashoffset: 1000;
   position: absolute;
   opacity: 0;
   pointer-events: none;
 }

 #path1 {
   stroke: #FFD700;
 }

 #path2 {
   stroke: #A0522D;
 }

 #path3 {
   stroke: #7B68EE;
 }

 #path4 {
   stroke: var(--blue);
 }



 img.sk {
   position: absolute;
   left: 1800px;
   top: 1330px;
   width: 550px;
 }

 img.exp {
   position: absolute;
   left: 2430px;
   /* left: 3000px; */
   top: 1310px;
   width: 550px;
   transform: rotateX(-30deg);
 }

 img.char {
   position: absolute;
   left: 1800px;
   /* left: 3000px; */
   top: 1900px;
   /* width: 500px;
    */
   height: 430px;
 }

 img.hobb {
   position: absolute;
   left: 2430px;
   top: 1930px;
   height: 430px;
 }

 /* 커서 */
 #custom-cursor {
   position: fixed;
   pointer-events: none;
   z-index: 9999;
   left: 0;
   top: 0;
   width: 0;
   height: 0;
 }

 /* 손들 위치 - 중심 기준 */
 #hand-open,
 #hand-closed {
   position: absolute;
   width: 80px;
   top: -30px;
   left: -40px;
 }

 /* 기본 손 보이게, 주먹 손 숨김 */
 #hand-open {
   display: block;
 }

 #hand-closed {
   display: none;
 }


 .cursor-tooltip {
  position: absolute;
  top: -50px;
  left: 50%;
  transform: translateX(-50%);
  background: rgba(105, 157, 0, 0.85);
  color: #fff;
  font-size: 20px;
  padding: 10px 20px;
  border-radius: 8px;
  white-space: nowrap;
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.3s ease;
}