@charset "utf-8";



#design_skill {
    top: 800px;
    left: 800px;
    position: relative;
}

#design_skill .txt {
    position: absolute;
    right: 500px;
    bottom: 300px;
    width: 580px;
    height: 214px;
    border: 5px solid var(--yellow);
    border-radius: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #000;
    transition: box-shadow 1.5s ease-in-out;
}

#design_skill .txt.glow {
    box-shadow: 3px 0px 30px 0px #EEBC1A, -3px 0px 50px 0px #EEBC1A inset, 5px 0px 10px 0px #EEBC1A;
}



#design_skill li.first {
    position: absolute;
    left: 740px;
    bottom: 170px;
    transform: rotate(var(--angle));
    --angle: -8.262deg;
}

#design_skill li.first img {
    width: 144px;
}

#design_skill li.two {
    position: absolute;
    left: 600px;
    bottom: 410px;
    transform: rotate(var(--angle));
    --angle: -4.367deg;
}

#design_skill li.three {
    position: absolute;
    left: 780px;
    top: 300px;
    transform: rotate(var(--angle));
    --angle: 13.142deg;
}

#design_skill li.four {
    position: absolute;
    left: 1000px;
    top: 150px;
    transform: rotate(var(--angle));
    --angle: 5deg;
}

#design_skill li.five {
    position: absolute;
    left: 1200px;
    top: 250px;
    transform: rotate(var(--angle));
    --angle: -7.035deg;
}

#design_skill li.six {
    position: absolute;
    left: 1360px;
    top: 220px;
    transform: rotate(var(--angle));
    --angle: 12.693deg;
}

#design_skill li {
/*     opacity: 0;
    transform: translateY(60px) scale(0.2) rotate(var(--angle));
    transition: transform 6s ease-out, opacity 2s ease-out;
    pointer-events: auto; */
    opacity: 0;
    transform: translateY(60px) scale(0.2) rotate(var(--angle));
    pointer-events: auto;
}

#design_skill li.show {
 /*    opacity: 1;
    transform: translateY(0) scale(1) rotate(var(--angle)); */
    opacity: 1;
    transform: translateY(0) scale(1) rotate(var(--angle));
    transition: transform 0.6s ease-out, opacity 0.6s ease-out; 
}



#experience {
    top: 800px;
    left: 2000px;

}

#experience .txt {
    position: absolute;
    left: 500px;
    bottom: 150px;
    border: 5px solid var(--blue);
    border-radius: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #000;
    font-size: 40px;
    transition: box-shadow 1.5s ease-in-out;
    width: 450px;
    height: 120px;
}

#experience .txt.glow {
    box-shadow: 3px 0px 30px 0px #4833FF, -3px 0px 50px 0px #4833FF inset, 5px 0px 10px 0px #4833FF;
}




#experience ul {
    background-repeat: no-repeat;
    background-size: cover;
    height: 360px;
    /* width: 100%; */
    position: absolute;
    width: 350px;
    color: #000000;

}

#experience .ex1 {
    left: 600px;
    top: 80px;
    display: flex;
    flex-direction: column;
    gap: 50px;

}

#experience li:nth-child(1) {
    padding-top: 110px;
    padding-left: 40px;
}

#experience li:nth-child(2) {
    padding-left: 40px;
}

#experience .ex1 h3 {
    font-size: 22px;
    font-family: var(--Audiowide);
    font-weight: 400;
    margin-bottom: 10px;
}

#experience .ex1 p {
    font-weight: 500;
    font-size: 20px;

}


#experience .ex2 {
    left: 1000px;
    top: 200px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}
#experience .ex2 li{
    font-size: 19px;
    font-weight: 400;
    padding-left: 60px;
}
#experience .ex2 li span{
    font-size: 22px;
    font-family: var(--Audiowide);
    font-weight: 400;
}
#experience .ex3 {
    left: 1200px;
    top: 550px;
    display: flex;
    flex-direction: column;
    gap: 20px;

}
#experience .ex3 li:nth-child(1) {
    padding-top: 80px;
    padding-left: 40px;
    
}

#experience .ex3 li:nth-child(2) {
    padding-left: 40px;
}
#experience .ex3 li:nth-child(3) {
    padding-left: 40px;
}
#experience .ex3 h3 {
    font-size: 22px;
    font-family: var(--Audiowide);
    font-weight: 500;
    margin-bottom: 10px;
}

#experience .ex3 p {
    font-weight: 500;
    font-size: 20px;

}